Repository kokuwaio/markdownlint: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

.woodpecker/build.yaml:

when:
  instance: ci.kokuwa.io
  repo: woodpecker/markdownlint
  event: [manual, push, pull_request]
  branch: main
  path: [.woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh]

steps:

  build:
    image: kokuwaio/buildctl:v0.27.0
    settings: &settings
      name: registry.kokuwa.io/kokuwaio/markdownlint:ci-${CI_PIPELINE_NUMBER}
      auth:
        registry.kokuwa.io:
          username: {from_secret: kokuwa_io_username}
          password: {from_secret: kokuwa_io_password}
      build-args: {NPM_CONFIG_REGISTRY: "${NPM_CONFIG_REGISTRY}"}
      platform: [linux/amd64, linux/arm64]
      annotation:
        org.opencontainers.image.title: Markdownlint WoodpeckerCI Plugin
        org.opencontainers.image.description: A WoodpeckerCI plugin for markdownlint-cli to lint markdown files.
        org.opencontainers.image.url: $CI_REPO_URL
        org.opencontainers.image.documentation: $CI_REPO_URL/README.md
        org.opencontainers.image.source: $CI_REPO_CLONE_URL
        org.opencontainers.image.revision: $CI_COMMIT_SHA
        org.opencontainers.image.vendor: kokuwa.io
        org.opencontainers.image.licenses: EUPL-1.2
        org.opencontainers.image.ref.name: kokuwaio/markdownlint
        org.opencontainers.image.version: 0.47.0
    when:
      event: pull_request

  push:
    image: kokuwaio/buildctl:v0.27.0
    settings:
      <<: *settings
      name:
        - registry.kokuwa.io/kokuwaio/markdownlint:latest
        - registry.kokuwa.io/kokuwaio/markdownlint:0.47.0
        - docker.io/kokuwaio/markdownlint:latest
        - docker.io/kokuwaio/markdownlint:0.47.0
        - ghcr.io/kokuwaio/markdownlint:latest
        - ghcr.io/kokuwaio/markdownlint:0.47.0
      auth:
        "https://index.docker.io/v1/":
          username: {from_secret: docker_io_username}
          password: {from_secret: docker_io_password}
        ghcr.io:
          username: {from_secret: ghcr_io_username}
          password: {from_secret: ghcr_io_password}
        registry.kokuwa.io:
          username: {from_secret: kokuwa_io_username}
          password: {from_secret: kokuwa_io_password}
    when:
      event: [manual, push]
      branch: main

.woodpecker/dockerhub.yaml:

when:
  instance: ci.kokuwa.io
  repo: woodpecker/markdownlint
  event: [manual, push]
  branch: main
  path: [.woodpecker/dockerhub.yaml, README.md]

steps:

  metadata:
    image: kokuwaio/dockerhub-metadata
    settings:
      repository: kokuwaio/markdownlint
      description-short: A WoodpeckerCI plugin for markdownlint-cli to lint markdown files.
      categories: [developer-tools, integration-and-delivery]
      username: {from_secret: dockerhub_username}
      password: {from_secret: dockerhub_password}

.woodpecker/test.yaml:

when:
  instance: ci.kokuwa.io
  repo: woodpecker/markdownlint
  event: [manual, push, pull_request]
  branch: main
  path: [.woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh]

depends_on: [build]
matrix:
  PLATFORM: [amd64, arm64]
labels:
  platform: linux/${PLATFORM}

steps:

  pr:
    image: registry.kokuwa.io/kokuwaio/markdownlint:ci-${CI_PIPELINE_NUMBER}
    when:
      event: pull_request

  kokuwa.io: &version
    image: registry.kokuwa.io/kokuwaio/markdownlint
    pull: true
    when:
      event: [manual, push]
      branch: main

  docker.io:
    image: docker.io/kokuwaio/markdownlint
    <<: *version

  ghcr.io:
    image: ghcr.io/kokuwaio/markdownlint
    <<: *version

chore(deps): update docker.io/library/debian:13.5-slim docker digest to b6e2a15
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency nodejs/node from v24.15.0 to v24.16.0
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.29.0 to v0.30.0
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.5-slim docker digest to 545a166
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.5-slim docker digest to b6f94ac
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.5-slim docker digest to 4e401d9
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency nodejs/node from v24.16.0 to v26.3.0
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

fix: changes by node v26
  .justfile
  .woodpecker/lint.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian docker tag from 13.4-slim to 13.5-slim
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency nodejs/node from v26.3.0 to v26.3.1
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency markdownlint-cli from 0.48.0 to 0.49.0
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.52.0 to 1.53.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.30.0 to v0.31.0
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/markdownlint docker tag from 0.48.0 to 0.49.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian:13.5-slim docker digest to 28de087
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.53.0 to 1.54.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency nodejs/node from v26.3.1 to v26.4.0
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.31.0 to v0.31.1
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.54.0 to 1.55.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/just docker tag from 1.55.0 to 1.55.1
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency nodejs/node from v26.4.0 to v26.5.0
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.55.1 to 1.56.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian docker tag from 13.5-slim to 13.6-slim
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency markdownlint-cli from 0.49.0 to 0.49.1
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.56.0 to 1.57.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.31.1 to v0.31.2
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/markdownlint docker tag from 0.49.0 to 0.49.1
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency nodejs/node from v26.5.0 to v26.5.1
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/renovate-config-validator docker tag from 43 to 44
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.31.2 to v0.32.0
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency nodejs/node from v26.5.1 to v26.6.0
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.32.0 to v0.32.1
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.57.0 to 1.58.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian:13.6-slim docker digest to 3a39a05
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.32.1 to v0.32.2
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency nodejs/node from v26.6.0 to v26.7.0
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/hadolint docker tag from v2.14.0 to v2.15.1
  .justfile
  .woodpecker/lint.yaml
Due: none

fix: ignore new hadolint warning because bash is not recognized
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency nodejs/node from v26.7.0 to v26.8.1
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.6-slim docker digest to d7e1218
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io
