Repository kokuwaio/markdownlint: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

.woodpecker/build.yaml:

when:
  instance: ci.kokuwa.io
  repo: woodpecker/markdownlint
  event: [manual, push, pull_request]
  branch: main
  path: [.woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh]

steps:

  build:
    image: kokuwaio/buildctl
    settings: &settings
      name: registry.kokuwa.io/kokuwaio/markdownlint:ci-${CI_PIPELINE_NUMBER}
      auth:
        registry.kokuwa.io:
          username: {from_secret: kokuwa_io_username}
          password: {from_secret: kokuwa_io_password}
      build-args: {NPM_CONFIG_REGISTRY: "${NPM_CONFIG_REGISTRY}"}
      platform: [linux/amd64, linux/arm64]
      annotation:
        org.opencontainers.image.title: Markdownlint WoodpeckerCI Plugin
        org.opencontainers.image.description: A WoodpeckerCI plugin for markdownlint-cli to lint markdown files.
        org.opencontainers.image.url: $CI_REPO_URL
        org.opencontainers.image.documentation: $CI_REPO_URL/README.md
        org.opencontainers.image.source: $CI_REPO_CLONE_URL
        org.opencontainers.image.revision: $CI_COMMIT_SHA
        org.opencontainers.image.vendor: kokuwa.io
        org.opencontainers.image.licenses: EUPL-1.2
        org.opencontainers.image.ref.name: kokuwaio/markdownlint
        org.opencontainers.image.version: 0.45.0
    when:
      event: pull_request

  push:
    image: kokuwaio/buildctl
    settings:
      <<: *settings
      name:
        - registry.kokuwa.io/kokuwaio/markdownlint:latest
        - registry.kokuwa.io/kokuwaio/markdownlint:0.45.0
        - docker.io/kokuwaio/markdownlint:latest
        - docker.io/kokuwaio/markdownlint:0.45.0
        - ghcr.io/kokuwaio/markdownlint:latest
        - ghcr.io/kokuwaio/markdownlint:0.45.0
      auth:
        "https://index.docker.io/v1/":
          username: {from_secret: docker_io_username}
          password: {from_secret: docker_io_password}
        ghcr.io:
          username: {from_secret: ghcr_io_username}
          password: {from_secret: ghcr_io_password}
        registry.kokuwa.io:
          username: {from_secret: kokuwa_io_username}
          password: {from_secret: kokuwa_io_password}
    when:
      event: [manual, push]
      branch: main

.woodpecker/dockerhub.yaml:

when:
  instance: ci.kokuwa.io
  repo: woodpecker/markdownlint
  event: [manual, push]
  branch: main
  path: [.woodpecker/dockerhub.yaml, README.md]

steps:

  metadata:
    image: kokuwaio/dockerhub-metadata
    settings:
      repository: kokuwaio/markdownlint
      description-short: A WoodpeckerCI plugin for markdownlint-cli to lint markdown files.
      categories: [developer-tools, integration-and-delivery]
      username: {from_secret: dockerhub_username}
      password: {from_secret: dockerhub_password}

.woodpecker/test.yaml:

when:
  instance: ci.kokuwa.io
  repo: woodpecker/markdownlint
  event: [manual, push, pull_request]
  branch: main
  path: [.woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh]

depends_on: [build]
matrix:
  PLATFORM: [amd64, arm64]
labels:
  platform: linux/${PLATFORM}

steps:

  pr:
    image: registry.kokuwa.io/kokuwaio/markdownlint:ci-${CI_PIPELINE_NUMBER}
    when:
      event: pull_request

  kokuwa.io: &version
    image: registry.kokuwa.io/kokuwaio/markdownlint
    pull: true
    when:
      event: [manual, push]
      branch: main

  docker.io:
    image: docker.io/kokuwaio/markdownlint
    <<: *version

  ghcr.io:
    image: ghcr.io/kokuwaio/markdownlint
    <<: *version

chore(deps): update docker.io/library/debian:13.2-slim docker digest to 18764e9
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency markdownlint-cli from 0.45.0 to 0.46.0
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

fix(md): fix linter issues after update
  README.md
Due: dockerhub

chore(deps): update kokuwaio/markdownlint docker tag from 0.45.0 to 0.46.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.26.1 to v0.26.2
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.2-slim docker digest to 7f2abf2
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.2-slim docker digest to e711a7b
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency nodejs/node from v24.11.1 to v24.12.0
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency markdownlint-cli from 0.46.0 to 0.47.0
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/markdownlint docker tag from 0.46.0 to 0.47.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.26.2 to v0.26.3
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.2-slim docker digest to 91e29de
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.2-slim docker digest to 4bcb9db
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/yamllint docker tag from v1.37.1 to v1.38.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency nodejs/node from v24.12.0 to v24.13.0
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian docker tag from 13.2-slim to 13.3-slim
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.26.3 to v0.27.0
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.27.0 to v0.27.1
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.3-slim docker digest to bfc1a09
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.3-slim docker digest to f6e2cfa
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/renovate-config-validator docker tag from 42 to 43
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency nodejs/node from v24.13.0 to v24.13.1
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.3-slim docker digest to 1d3c811
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

fix: changes by node v24.13.1
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency nodejs/node from v24.13.1 to v24.14.0
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency markdownlint-cli from 0.47.0 to 0.48.0
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/markdownlint docker tag from 0.47.0 to 0.48.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.27.1 to v0.28.0
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian docker tag from 13.3-slim to 13.4-slim
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency nodejs/node from v24.14.0 to v24.14.1
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.28.0 to v0.28.1
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.28.1 to v0.29.0
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.4-slim docker digest to 4ffb3a1
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency nodejs/node from v24.14.1 to v24.15.0
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.4-slim docker digest to e02d667
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.4-slim docker digest to cedb1ef
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.4-slim docker digest to bacd8d9
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.4-slim docker digest to 109e2c6
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian docker tag from 13.4-slim to 13.5-slim
  Dockerfile
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io
